* {
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3%;
}

h1 {
    background-color: darkslategrey;
    margin: 100px auto;
    padding: 20px 10px;
    width: 190px;
    border-radius: 6px;
    color:blue;
}

#BTNCONSULT{
    background-color: forestgreen;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 30%;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    color: black;
    text-align: center;
}
