* {
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3%;
}

h1 {
    background-color: black;
    margin: 3% auto;
    padding: 1%;
    border-radius: 2px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#BTNCONSULT{
    background-color: forestgreen;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 30%;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    color: black;
    text-align: center;
}
